* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", "sans-serif";
  }

  html {
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 50px 0 100px 0;
    height: 800px;
    width: 100%;
    background: url(img/515.jpg);
    border-radius: 0 0 50% 50% / 4%;
  }
  
  .top-wrapper h1 {
    color: #00BFFF;
    font-weight: 300;
    font-size: 55px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .top-wrapper p {
    width: 400px;
    font-size: 24px;
    color: #00BFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 2em;
  }

  .btn-wrapper {
    text-align: left;
    margin: 20px 0;
  }
  
  .btn-wrapper img {
    position: absolute;
    right: 0px;
    top: 180px;
    height: 650px;
  }

  .signup {
    background-color: #00BFFF;
    cursor: pointer;
    box-shadow: 0 7px #1a4379;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: #00BFFF;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .header-logo {
    float: left;
    font-size: 28px;
    margin-top: 20px;
  }
  
  .header-left {
    font-size: 28px;
    float: left;
    color: white;
  }
  
  .header-right {
    float: right;
    margin: 0;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: #00BFFF;
  }
  
  .menu-icon {
    color: white;
    float: right;
    display: none;
  }
  
  
  .lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .lesson {
    float: left;
    width: 33%;
	margin-bottom: 100px;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon img {
	width: 280px;
	height: 280px;
	filter: grayscale(0.2);
	transition: all 0.5s;
	object-fit: cover;
  }

  .lesson-icon h4 {
	font-size: 20px;
	line-height: 28px;
	font-weight: 800;
	color: #2c3e50;
	margin-top: 10px;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
  }
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #00BFFF;
    cursor: pointer;
    box-shadow: 0 7px #1a4379;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  footer img {
    width: 125px;
    margin-top: -30px;
    margin-bottom: -50px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
    padding-left: 20px;
  }
  
  footer {
    text-align: left;
  }